In [1]:
!pip install ucimlrepo

Collecting ucimlrepo
  Downloading ucimlrepo-0.0.7-py3-none-any.whl.metadata (5.5 kB)
Requirement already satisfied: pandas>=1.0.0 in /usr/local/lib/python3.12/dist-packages (from ucimlrepo) (2.2.2)
Requirement already satisfied: certifi>=2020.12.5 in /usr/local/lib/python3.12/dist-packages (from ucimlrepo) (2025.8.3)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas>=1.0.0->ucimlrepo) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas>=1.0.0->ucimlrepo) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas>=1.0.0->ucimlrepo) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas>=1.0.0->ucimlrepo) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas>=1.0.0->ucimlrepo) (1.17.0)
Downloading ucimlrepo-0.0.7-py3-none-any.whl (8.0 kB)
Installing collected packages: ucimlrepo
Successfully installed ucimlrepo-0.0.7

In [2]:
import pandas as pd
import numpy as np
from ucimlrepo import fetch_ucirepo

In [3]:
adult = fetch_ucirepo(id=2)
X = adult.data.features
y = adult.data.targets
# Объединение в один DataFrame
df = pd.concat([X, y], axis=1)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             48842 non-null  int64
 1   workclass       47879 non-null  object
 2   fnlwgt          48842 non-null  int64
 3   education       48842 non-null  object
 4   education-num   48842 non-null  int64
 5   marital-status  48842 non-null  object
 6   occupation      47876 non-null  object
 7   relationship    48842 non-null  object
 8   race            48842 non-null  object
 9   sex             48842 non-null  object
 10  capital-gain    48842 non-null  int64
 11  capital-loss    48842 non-null  int64
 12  hours-per-week  48842 non-null  int64
 13  native-country  48568 non-null  object
 14  income          48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [18]:
# Число столбцов в наборе данных
df.shape[1]

15

In [19]:
# Есть ли пропуски в данных? Если есть, то в каких столбцах
missing = df.isnull().sum()
columns_missing = missing[missing > 0].index.tolist()
print(missing[missing > 0])
print("Столбцы с пропусками:", columns_missing)

workclass         963
occupation        966
native-country    274
dtype: int64
Столбцы с пропусками: ['workclass', 'occupation', 'native-country']

In [20]:
# Кол-во уникальных значений в столбце race
df['race'].nunique()

5

In [21]:
# Медиана hours-per-week
df['hours-per-week'].median()

40.0

In [24]:
# Кого больше - женщин или мужчин с ЗП >50K?
zp = df[df['income'] == '>50K']['sex'].value_counts()
gender = 'Male' if zp.get('Male', 0) > zp.get('Female', 0) else 'Female'
print("Кого больше с ЗП >50K:", gender)
print("Распределение:", dict(zp))

Кого больше с ЗП >50K: Male
Распределение: {'Male': np.int64(6662), 'Female': np.int64(1179)}

In [29]:
# Заполните пропущенные данные в отдельных столбцах наиболее встречаемыми значениями.
df_filled = df.copy()
for column in columns_missing:
    most_frequent = df[column].mode()[0]
    df_filled[column].fillna(most_frequent, inplace=True)

/tmp/ipython-input-3585090044.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_filled[column].fillna(most_frequent, inplace=True)

In [30]:
df_filled.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
income            0
dtype: int64


Ответы на вопросы:

1) Число столбцов в наборе данных -- 15
2) Есть ли пропуски в данных? Если есть, то в каких столбцах -- в ["workclass", "occupation", "native-country"]
3) Кол-во уникальных значений в столбце race -- 5
4) Медиана hours-per-week -- 40.0
5) Кого больше - женщин или мужчин с ЗП >50K? -- мужчин
6) Заполните пропущенные данные в отдельных столбцах наиболее встречаемыми значениями. Как еще можно было бы заполнить пропущенные данные? -- Заполнили.   для числовых int64 столбцов можно использвать медиану/среднее, для object - наиболее частое значение или что-то придумать с кодировкой в числовые. Можно KNN (при большом количестве данных)  или Kernel KNN (для маленьких датасетов и для большей точности )